body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    margin: 0;
    padding: 0;
    background-color: #D1F8EF;
}

header {
    background-image: url('hero.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #A1E3F9;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {   
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    padding: 13px 20px;
    position: relative;
    bottom: 2px;
}

nav ul li a:hover{
    background: #3674B5;
    color: white;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background: #A1E3F9;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul{
    line-height: 50px;
    list-style: none;
}

.sidebar ul li a{
    text-decoration: none;
    color: #3674B5;
    font-weight: bold;
    line-height: 20px;
}

.content {
    width: 75%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.content h4{
    font-weight: 400;
    line-height: 40px;
    font-size: 25px;
    width: 800px;
    
}

.content p{
    line-height: 25px;
    font-size: 15px;
    width: 600px;
    
}

.content button{
    /* background: #578FCA; */
    border: none;
    padding: 15px 60px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.content button:hover{
    transform: scale(1.05);
}

.content2 {
    width: 75%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-dashboard{
    position: relative;
    top: 10px;
    background-color: #A1E3F9;
    margin: 5px;
    padding: 80px;
    border-radius: 10px;
}

.title-center {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}


.news-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    gap: 20px;
    margin-top: 20px;
}


.news-btn {
    background: #578FCA;
    border: none;
    padding: 15px 120px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.news-btn:hover {
    transform: scale(1.05);
}

footer {
    background: #3674B5;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


#formWA {
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  #formWA label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  #formWA textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #formWA input:focus,
  #formWA textarea:focus {
    border-color: #25D366;
    outline: none;
    box-shadow: 0 0 4px rgba(37, 211, 102, 0.3);
  }

  #formWA button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #formWA button:hover {
    background-color: #1ebe5d;
  }
  